h1 {
    text-align: center;
    margin-top: 50px;
}

.producto {
    background-color: white;
    border: 1px solid #ccc;
    margin: 20px;
    width: 30%;
    display: inline-block;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.producto img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.producto h2 {
    font-size: 1.5em;
    margin-top: 10px;
}

.producto p {
    margin: 10px 0;
}

.producto {
    display: inline-block;
    width: 30%;
    margin: 20px;
  }

@media  (max-width: 800px) {
    .navbar{
        padding: 20px;
    }
    .footer{
        padding: 10px;
    }

    .header{
        padding: 20px;
    }
}